{% load static %}
<script src="{% static 'Hospital/assets/js/neon-custom-ajax.js' %}"></script><script>$(".html5editor").wysihtml5();</script><div class="row">
    <div class="col-md-12">

        <div class="panel panel-primary" data-collapsed="0">

          
            <div class="panel-body">

                <form role="form" class="form-horizontal form-groups" method="post" action="{% url 'Hospital:applyappointment' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="field-1" class="col-sm-3 control-label">Date</label>

                        <div class="col-sm-7">
                            <div class="date-and-time">
                               {{form.date}}
                               
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="field-ta" class="col-sm-3 control-label">Doctor</label>

                        <div class="col-sm-7">
                            {{form.doctor}}
                        </div>
                    </div>

                    <div class="col-sm-3 col-sm-offset-2">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-check"></i> Request Appointment                        </button>
                    </div>
                </form>

            </div>

        </div>

    </div>
</div>
