{% load static %}
<script src="{% static 'Hospital/assets/js/neon-custom-ajax.js' %}"></script><script>$(".html5editor").wysihtml5();</script><div class="row">
    <div class="col-md-12">

        <div class="panel panel-primary" data-collapsed="0">

          

            <div class="panel-body">

                <form role="form" class="form-horizontal form-groups validate" action="{% url 'Hospital:adddepartmentmodal' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <div class="form-group">
                    {% if form.errors %}
                        <ol>
                        {% for error in form.errors %}
                            <li>{{error | escape}}</li>
                        {% endfor %}
                        </ol>

                    {% endif %}
                        <label for="field-1" class="col-sm-3 control-label">Name</label>

                        <div class="col-sm-7">
                                {{ form.departmentname }}
                                {% comment %} {{ form.departmentname.errors }} {% endcomment %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="field-ta" class="col-sm-3 control-label">Description</label>

                        <div class="col-sm-7">
                                {{ form.description }}
                                {% comment %} {{ form.description.errors }} {% endcomment %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Icon                        </label>
                        <div class="col-sm-9">

                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-new thumbnail" style="width: 200px; height: 200px;" 
                                    data-trigger="fileinput">
                                    <img src="http://placehold.it/256x256" alt="...">
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail" 
                                    style="max-width: 200px; max-height: 200px"></div>
                                <div>
                                    <span class="btn btn-white btn-file">
                                        <span class="fileinput-new">Select Image</span>
                                        <span class="fileinput-exists">Change</span>
                                       
                                        <input type="file" name="depticon" accept="image/*" reqiured>
                                    </span>
                                    <a href="#" class="btn btn-orange fileinput-exists" data-dismiss="fileinput">
                                    Remove                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-3 control-label col-sm-offset-2">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-check"></i> Save                        </button>
                    </div>
                </form>

            </div>

        </div>

    </div>
</div>
