{% load static %}
<!DOCTYPE html>

<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Login | TrueHealthcare </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{% static 'Hospital/uploads/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'Hospital/assets/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'Hospital/assets/login_page/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'Hospital/assets/login_page/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'Hospital/assets/login_page/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'Hospital/assets/login_page/css/stylelogin.css' %}">
    <link rel="stylesheet" href="{% static 'Hospital/assets/common/izitoast/css/iziToast.min.css' %}" type="text/css' %}">
    <script src="{% static 'Hospital/assets/login_page/js/vendor/modernizr-2.8.3.min.js' %}"></script>
    <!--    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600" rel="stylesheet">
</head>

<body>
    <div class="main-content-wrapper">
        <div class="login-area">
            <div class="login-header">
                <a href="#" class="logo">
                    <img src="{% static 'Hospital/uploads/logo.png' %}" height="160" alt="">
                </a>
          
            </div>
            <div class="login-content">
            {% if form.errors %} <p>Your username and password didn't match. Please try again.</p> {% endif %}
                <form method="post">
                    {% csrf_token %}
                    {% comment %} {{ form.as_p }} {% endcomment %}
                    <div class="form-group">
                        <input type="text" class="input-field" name="username" id="id_username" placeholder="Username" required autocomplete="off" required>
                        
                    </div>
                    <div class="form-group">
                        <input type="password" class="input-field" name="password" id="id_password" placeholder="Password" required autocomplete="off"
                            required>
                        
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Login
                        <i class="fa fa-lock"></i>
                    </button>
                  
                </form>
            </div>
        </div>
        <div class="image-area"></div>
    </div>

    <script src="{% static 'Hospital/assets/login_page/js/vendor/jquery-1.12.0.min.js' %}"></script>
    <script src="{% static 'Hospital/assets/common/izitoast/js/iziToast.min.js' %}"></script>

    <script>
        function demo_login(id) {
            var email = id + '@thc.com';
            var password = '1234';
            $('#email').val(email);
            $('#password').val(password);
        }
    </script>




</body>



</html>