 {% load static %}
<!DOCTYPE html>
<html lang="en" dir="">

<head>

    <title>Patient - TrueHealthcare</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="THc" />
    <meta name="author" content="dxtsoft" />

<link rel="stylesheet" href="{% static 'Hospital/assets/login_page/css/style.css' %}">

    <link rel="stylesheet" href="{% static 'Hospital/assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css' %}">
    <link rel="stylesheet" href="{% static 'Hospital/assets/css/font-icons/entypo/css/entypo.css' %}">
    <!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">-->
    <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'Hospital/assets/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'Hospital/assets/css/neon-core.css' %}">
    <link rel="stylesheet" href="{% static 'Hospital/assets/css/neon-theme.css' %}">
    <link rel="stylesheet" href="{% static 'Hospital/assets/css/neon-forms.css' %}">
    <link rel="stylesheet" href="{% static 'Hospital/assets/css/custom.css' %}">
    <!--<link rel="stylesheet" href="{% static 'Hospital/assets/css/skins/green.css' %}">-->

    <script src="{% static 'Hospital/assets/js/jquery-1.11.0.min.js' %}"></script>

    <!--[if lt IE 9]><script src="{% static 'Hospital/assets/js/ie8-responsive-file-warning.js' %}"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' %}"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js' %}"></script>
<![endif]-->
    <link rel="shortcut icon" href="{% static 'Hospital/uploads/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'Hospital/assets/css/font-icons/font-awesome/css/font-awesome.min.css' %}">

<link rel="stylesheet" href="{% static 'Hospital/assets/login_page/css/style.css' %}">


    <link rel="stylesheet" href="{% static 'Hospital/assets/js/vertical-timeline/css/component.css' %}">
    <link rel="stylesheet" href="{% static 'Hospital/assets/js/datatables/responsive/css/datatables.responsive.css' %}">

    <script src="{% static 'Hospital/assets/js/jquery-1.11.0.min.js' %}"></script>


<link rel="stylesheet" href="{% static 'Hospital/assets/css/magnific-popup.css' %}">
    <!--[if lt IE 9]><script src="{% static 'Hospital/assets/js/ie8-responsive-file-warning.js' %}"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' %}"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js' %}"></script>
<![endif]-->
    <link rel="shortcut icon" href="{% static 'Hospital/uploads/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'Hospital/assets/css/font-icons/font-awesome/css/font-awesome.min.css' %}">




    <link rel="stylesheet" href="{% static 'Hospital/assets/js/vertical-timeline/css/component.css' %}">
    <link rel="stylesheet" href="{% static 'Hospital/assets/js/datatables/responsive/css/datatables.responsive.css' %}">

    <!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js' %}"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js' %}"></script>
<script src="script.js' %}"></script>-->

    <script>
        function checkDelete() {
            var chk = confirm("Are You Sure To Delete This !");
            if (chk) {
                return true;
            } else {
                return false;
            }
        }
    </script>

    <style>
        .tile-stats .icon {
            bottom: 30px;
        }
    </style>
</head>

<body class="page-body">
<div class="preloader">
                <div class="preloaderIn">
                    <img src="{% static 'Hospital/uploads/logo.png' %}" alt="">
                </div>
            </div>
    <div class="page-container">
        <div class="sidebar-menu">
            <header class="logo-env">

                <!-- logo -->
                <div class="logo" style="">
                    <a href="#">
                        <img src="{% static 'Hospital/uploads/logo.png' %}" style="max-height:60px;" />
                    </a>
                </div>

                <!-- logo collapse icon -->
                <div class="sidebar-collapse" style="">
                    <a href="#" class="sidebar-collapse-icon with-animation">

                        <i class="entypo-menu"></i>
                    </a>
                </div>

                <!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
                <div class="sidebar-mobile-menu visible-xs">
                    <a href="#" class="with-animation">
                        <i class="entypo-menu"></i>
                    </a>
                </div>
            </header>
            <div class="sidebar-user-info">

                <div class="sui-normal">
                    <div class="user-link">
                        <img src="{{user.usericon.url}}" alt="" class="img-circle" style="height:44px;" height="44px" width="44px">

                        <span>Welcome,</span>
                        <strong>Dr. {{user.first_name}} </strong>
                    </div>
                </div>

             
             
            </div>

            <ul id="main-menu" class="">
                <!-- add class "multiple-expanded" to allow multiple submenus to open -->
                <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->


                <!-- DASHBOARD -->
                <li class=" ">
                    <a href="{% url 'Hospital:admindash' %}">
                        <i class="fa fa-desktop"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li class=" ">
                    <a href="{% url 'Hospital:department' %}">
                        <i class="fa fa-sitemap"></i>
                        <span>Departments</span>
                    </a>
                </li>

                <li class="opened active ">
                    <a href="#">
                        <i class="fa fa-user"></i>
                        <span>Employees</span>
                    </a>
                    <ul>
                        <li class="">
                            <a href="{% url 'Hospital:doctor' %}">
                                <i class="fa fa-user-md"></i>
                                <span>Doctors</span>
                            </a>
                        </li>

                        <li class=" ">
                            <a href="{% url 'Hospital:patient' %}">
                                <i class="fa fa-user"></i>
                                <span>Patients</span>
                            </a>
                        </li>

                        <li class=" ">
                            <a href="{% url 'Hospital:nurse' %}">
                                <i class="fa fa-plus-square"></i>
                                <span>Nurses</span>
                            </a>
                        </li>

                        <li class=" ">
                            <a href="{% url 'Hospital:pharmacist' %}">
                                <i class="fa fa-medkit"></i>
                                <span>Pharmacists</span>
                            </a>
                        </li>

                        <li class=" ">
                            <a href="{% url 'Hospital:labaratorist' %}">
                                <i class="fa fa-user"></i>
                                <span>Laboratorists</span>
                            </a>
                        </li>

                        <li class=" ">
                            <a href="{% url 'Hospital:accountant' %}">
                                <i class="fa fa-money"></i>
                                <span>Accountants</span>
                            </a>
                        </li>

                        <li class=" ">
                            <a href="{% url 'Hospital:receptionist' %}">
                                <i class="fa fa-plus-square"></i>
                                <span>Receptionists</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class=" ">
                    <a href="#">
                        <i class="fa fa-sun-o"></i>
                        <span>Monitor Hospital</span>
                    </a>
                    <ul>
                        <li class=" ">
                            <a href="{% url 'Hospital:paymenthistory' %}">
                                <i class="entypo-dot"></i>
                                <span>Payment History</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="{% url 'Hospital:bedallotment' %}">
                                <i class="entypo-dot"></i>
                                <span>Bed Allotment</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="{% url 'Hospital:bloodbank' %}">
                                <i class="entypo-dot"></i>
                                <span>Blood Bank</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="{% url 'Hospital:blooddonor' %}">
                                <i class="entypo-dot"></i>
                                <span>Blood Donor</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="{% url 'Hospital:medicine' %}">
                                <i class="entypo-dot"></i>
                                <span>Medicine</span>
                            </a>
                        </li>
                        {% comment %} <li class=" ">
                            <a href="{% url 'Hospital:operationreport' %}">
                                <i class="entypo-dot"></i>
                                <span>Operation Report</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="{% url 'Hospital:birthreport' %}">
                                <i class="entypo-dot"></i>
                                <span>Birth Report</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="{% url 'Hospital:deathreport' %}">
                                <i class="entypo-dot"></i>
                                <span>Death Report</span>
                            </a>
                        </li> {% endcomment %}
                    </ul>
                </li>

                <li class="">
                    <a href="#">
                        <i class="entypo-tag"></i>
                        <span>Payroll</span>
                    </a>
                    <ul>
                        <li class=" ">
                            <a href="{% url 'Hospital:createpayroll' %}">
                                <span>
                                    <i class="entypo-dot"></i> Create Payroll</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="{% url 'Hospital:payrolllist' %}">
                                <span>
                                    <i class="entypo-dot"></i> Payroll List</span>
                            </a>
                        </li>
                    </ul>
                </li>

                

                <!-- ACCOUNT -->
                {% comment %} <li class=" ">
                    <a href="{% url 'Hospital:manageprofile' %}">
                        <i class="fa fa-user"></i>
                        <span>Account</span>
                    </a>
                </li> {% endcomment %}



            </ul>

        </div>
        <div class="main-content">

            <div class="row">
                <div class="col-md-12 col-sm-12 clearfix" style="text-align:center;">
                    <h2 style="font-weight:200; margin:0px;">TrueHealthcare</h2>
                </div>

                <!-- Raw Links -->
                <div class="col-md-12 col-sm-12 clearfix ">

                    <ul class="list-inline links-list pull-left">
                        <!-- Language Selector -->
                        <li class="dropdown language-selector">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-close-others="true">
                                <i class="entypo-user"></i> Administrator</a>
                        </li>

                        <!-- Message Notifications -->
                    </ul>


                    <ul class="list-inline links-list pull-right">



                        <li>
                            <a href="{% url 'logout' %}">
                                Logout &nbsp;
                                <i class="fa fa-sign-out"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>

            <hr style="margin-top:0px;" />
            <h3 style="margin:20px 0px; color:#818da1; font-weight:200;">
                <i class="entypo-right-circled"></i>
             New Patient </h3>

          
            <div style="clear:both;"></div>
            <br>
           
<div class="row">
    <div class="col-md-12">

        <div class="panel panel-primary" data-collapsed="0">

            

            <div class="panel-body">
               

               
               
               
                <form role="form" class="form-horizontal form-groups" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                 <div class="form-group">
                                    <label class="col-sm-2 control-label">First Name</label>

                                    <div class="col-sm-3">
                                        {% comment %} <input type="text" name="first_name" class="form-control"
                                            required> {% endcomment %}
                                        {{ form.first_name }}
                                    </div>
                                    <span style="color: #cc2424">{{ form.first_name.errors.as_text }}</span>

                                    <label class="col-sm-2 control-label">Last Name</label>

                                    <div class="col-sm-3">
                                        {% comment %} <input type="text" name="last_name" value="" class="form-control"
                                            required> {% endcomment %}
                                        {{ form.last_name }}
                                    </div>
                                    <span style="color: #cc2424">{{ form.last_name.errors.as_text }}</span>
                                </div>

                                <div class="form-group">
                                    <label for="field-ta" class="col-sm-2 control-label">Email</label>

                                    <div class="col-sm-3">
                                        {% comment %} <input type="email" name="email" class="form-control" value=""
                                            required> {% endcomment %}
                                        {{ form.email }}
                                    </div>
                                    <span style="color: #cc2424">{{ form.email.errors.as_text }}</span>


                                    <label for="field-1" class="col-sm-2 control-label">Username</label>

                                    <div class="col-sm-3">
                                        {% comment %} <input type="text" name="username" value="" class="form-control"
                                            required> {% endcomment %}
                                        {{ form.username }}

                                    </div>
                                    <span style="color: #cc2424">{{ form.username.errors.as_text }}</span>
                                </div>

                                <div class="form-group">
                                    <label for="field-1" class="col-sm-2 control-label">Password</label>

                                    <div class="col-sm-3">
                                        {% comment %} <input type="password" name="password1" class="form-control"
                                            required> {% endcomment %}
                                        {{ form.password1 }}

                                    </div>

                                    <label for="field-1" class="col-sm-2 control-label">Confirm Password</label>

                                    <div class="col-sm-3">
                                        {% comment %} <input type="password" name="password2" class="form-control"
                                            required> {% endcomment %}
                                        {{ form.password2 }}

                                    </div>
                                    <span style="color: #cc2424">{{ form.password2.errors.as_text }}</span>
                                </div>

                                <div class="form-group">
                                    <label for="field-1" class="col-sm-2 control-label">D.O.B</label>

                                    <div class="col-sm-2">
                                        {% comment %} <input type="text" name="dob" class="form-control datepicker"
                                            required> {% endcomment %}
                                        {{ form.dob }}

                                    </div>
                                    <span style="color: #cc2424">{{ form.dob.errors.as_text }}</span>

                                    <label for="field-ta" class="col-sm-1 control-label">Phone</label>

                                    <div class="col-sm-2">
                                        {% comment %} <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                            name="phone" class="form-control" required> {% endcomment %}
                                        {{ form.phone }}
                                    </div>
                                    
                                    <label for="field-1" class="col-sm-1 control-label">Sex</label>

                                    <div class="col-sm-2">
                                        {% comment %} <input type="text" name="dob" class="form-control datepicker"
                                            required> {% endcomment %}
                                        {{ form.sex }}

                                    </div>
                                  

                                </div>   

                                   <div class="form-group">
                                    
                                    

                                  
                                    <label for="field-ta" class="col-sm-2 control-label">Blood Group</label>

                                    <div class="col-sm-2">
                                        {{ form.blood_group }}

                                    </div>
                                    <span style="color: #cc2424">{{ form.blood_group.errors.as_text }}</span>

                                </div>   
                    {% comment %} {{form.as_p}} {% endcomment %}

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Image</label>

                        <div class="col-sm-7">

                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;" data-trigger="fileinput">
                                    <img src="http://placehold.it/200x150" alt="...">
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px"></div>
                                <div>
                                    <span class="btn btn-white btn-file">
                                        <span class="fileinput-new">Select image</span>
                                        <span class="fileinput-exists">Change</span>
                                        <input type="file" name="usericon" accept="image/*">
                                    </span>
                                    <a href="#" class="btn btn-orange fileinput-exists" data-dismiss="fileinput">Remove</a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-3 control-label ">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-check"></i> Save </button>
                    </div>
                </form>

            </div>

        </div>

    </div>
</div>


            <script type="text/javascript">
                jQuery(window).load(function () {
                    var $ = jQuery;

                    $("#table-2").dataTable({
                        "sPaginationType": "bootstrap",
                        "sDom": "<'row'<'col-xs-3 col-left'l><'col-xs-9 col-right'<'export-data'T>f>r>t<'row'<'col-xs-3 col-left'i><'col-xs-9 col-right'p>>"
                    });

                    $(".dataTables_wrapper select").select2({
                        minimumResultsForSearch: -1
                    });

                    // Highlighted rows
                    $("#table-2 tbody input[type=checkbox]").each(function (i, el) {
                        var $this = $(el),
                            $p = $this.closest('tr');

                        $(el).on('change', function () {
                            var is_checked = $this.is(':checked');

                            $p[is_checked ? 'addClass' : 'removeClass']('highlight');
                        });
                    });

                    // Replace Checboxes
                    $(".pagination a").click(function (ev) {
                        replaceCheckboxes();
                    });
                });
            </script>
            <!-- Footer -->
            <footer class="main">
                &copy; 2018
                <strong>TrueHealthcare</strong>




            </footer>

        </div>

    </div>
    <script type="text/javascript">
        function showAjaxModal_add() {
            var urlx = "{% url 'Hospital:addpatientmodal' %}"; 
            // SHOWING AJAX PRELOADER IMAGE
            jQuery('#modal_ajax .modal-body').html(
                '<div style="text-align:center;margin-top:200px;"><img src="/static/Hospital/assets/images/preloader.gif" style="height:25px;" /></div>'
            );

            // LOADING THE AJAX MODAL
            jQuery('#modal_ajax').modal('show', {
                backdrop: 'true'
            });

            // SHOW AJAX RESPONSE ON REQUEST SUCCESS
            $.ajax({
                url: urlx,
                success: function (response) {
                    jQuery('#modal_ajax .modal-body').html(response);
                }
            });
        }

        function showAjaxModal_edit(a) {
            var urlx = "{% url 'Hospital:editpatientmodal' 123 %}"; 
            var urly = urlx.replace('123',a);
            // SHOWING AJAX PRELOADER IMAGE
            jQuery('#modal_ajax2 .modal-body').html(
                '<div style="text-align:center;margin-top:200px;"><img src="/static/Hospital/assets/images/preloader.gif" style="height:25px;" /></div>'
            );

            // LOADING THE AJAX MODAL
            jQuery('#modal_ajax2').modal('show', {
                backdrop: 'true'
            });

            // SHOW AJAX RESPONSE ON REQUEST SUCCESS
            $.ajax({
                url: urly,
                success: function (response) {
                    jQuery('#modal_ajax2 .modal-body').html(response);
                }
            });
        }
    </script>

    <!-- (Ajax Modal)-->
    <div class="modal fade" id="modal_ajax">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Add Patient</h3>
                </div>

                <div class="modal-body" style="height:450px; overflow:auto;">


                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

     <div class="modal fade" id="modal_ajax2">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Edit Patient</h3>
                </div>

                <div class="modal-body" style="height:450px; overflow:auto;">


                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>




    <script type="text/javascript">
        function confirm_modal(delete_url) {
            jQuery('#modal-4').modal('show', {
                backdrop: 'static'
            });
            var urlx = "{% url 'Hospital:deletepatient' 123 %}"; 
            var urly = urlx.replace('123',delete_url);
            document.getElementById('delete_link').setAttribute('href', urly);
        }
    </script>

    <!-- (Normal Modal)-->
    <div class="modal fade" id="modal-4">
        <div class="modal-dialog">
            <div class="modal-content" style="margin-top:100px;">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" style="text-align:center;">Are you sure to delete this information ?</h4>
                </div>


                <div class="modal-footer" style="margin:0px; border-top:0px; text-align:center;">
                    <a href="#" class="btn btn-danger" id="delete_link">Delete</a>
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!--    custom width modal -->

    <script type="text/javascript">
        function showCustomWidthModal(url) {
            // SHOWING AJAX PRELOADER IMAGE
            jQuery('#modal-2 .modal-body').html(
                '<div style="text-align:center;margin-top:200px;"><img src="/static/Hospital/assets/images/preloader.gif" style="height:25px;" /></div>'
            );

            // LOADING THE AJAX MODAL
            jQuery('#modal-2').modal('show', {
                backdrop: 'true'
            });

            // SHOW AJAX RESPONSE ON REQUEST SUCCESS
            $.ajax({
                url: url,
                success: function (response) {
                    jQuery('#modal-2 .modal-body').html(response);
                }
            });
        }
    </script>

    <div class="modal fade custom-width" id="modal-2">
        <div class="modal-dialog" style="width: 75%;">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">TrueHealthcare</h4>
                </div>

                <div class="modal-body">

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="{% static 'Hospital/assets/js/daterangepicker/daterangepicker-bs3.css' %}">

    <link rel="stylesheet" href="{% static 'Hospital/assets/js/selectboxit/jquery.selectBoxIt.css' %}">

    <link rel="stylesheet" href="{% static 'Hospital/assets/js/wysihtml5/bootstrap-wysihtml5.css' %}">
    <link rel="stylesheet" href="{% static 'Hospital/assets/js/selectboxit/jquery.selectBoxIt.css' %}">
    <link rel="stylesheet" href="{% static 'Hospital/assets/js/datatables/responsive/css/datatables.responsive.css' %}">
    <link rel="stylesheet" href="{% static 'Hospital/assets/js/select2/select2-bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'Hospital/assets/js/select2/select2.css' %}">

    <script src="{% static 'Hospital/assets/js/theme.js' %}"></script>
    <script src="{% static 'Hospital/assets/js/gsap/main-gsap.js' %}"></script>
    <script src="{% static 'Hospital/assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js' %}"></script>
    <script src="{% static 'Hospital/assets/js/bootstrap.js' %}"></script>
    <script src="{% static 'Hospital/assets/js/joinable.js' %}"></script>
    <script src="{% static 'Hospital/assets/js/resizeable.js' %}"></script>
    <script src="{% static 'Hospital/assets/js/neon-api.js' %}"></script>
    <script src="{% static 'Hospital/assets/js/bootstrap-switch.min.js' %}"></script>
    <script src="{% static 'Hospital/assets/js/toastr.js' %}"></script>
    <script src="{% static 'Hospital/assets/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'Hospital/assets/js/fullcalendar/fullcalendar.min.js' %}"></script>
    <script src="{% static 'Hospital/assets/js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'Hospital/assets/js/bootstrap-timepicker.min.js' %}"></script>
    <script src="{% static 'Hospital/assets/js/fileinput.js' %}"></script>
    <script src="{% static 'Hospital/assets/js/wysihtml5/wysihtml5-0.4.0pre.min.js' %}"></script>
    <script src="{% static 'Hospital/assets/js/wysihtml5/bootstrap-wysihtml5.js' %}"></script>
    <script src="{% static 'Hospital/assets/js/jquery.multi-select.js' %}"></script>
    <script src="{% static 'Hospital/assets/js/jquery.knob.js' %}"></script>
    <script src="{% static 'Hospital/assets/js/selectboxit/jquery.selectBoxIt.min.js' %}"></script>
    <script src="{% static 'Hospital/assets/js/jquery.inputmask.bundle.min.js' %}"></script>
    <script src="{% static 'Hospital/assets/js/daterangepicker/moment.min.js' %}"></script>
    <script src="{% static 'Hospital/assets/js/daterangepicker/daterangepicker.js' %}"></script>

    <link rel="stylesheet" href="{% static 'Hospital/assets/js/dropzone/dropzone.css' %}">
    <script src="{% static 'Hospital/assets/js/dropzone/dropzone.js' %}"></script>

    <script src="{% static 'Hospital/assets/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'Hospital/assets/js/datatables/TableTools.min.js' %}"></script>
    <script src="{% static 'Hospital/assets/js/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'Hospital/assets/js/datatables/jquery.dataTables.columnFilter.js' %}"></script>
    <script src="{% static 'Hospital/assets/js/datatables/lodash.min.js' %}"></script>
    <script src="{% static 'Hospital/assets/js/datatables/responsive/js/datatables.responsive.js' %}"></script>
    <script src="{% static 'Hospital/assets/js/select2/select2.min.js' %}"></script>

    <script src="{% static 'Hospital/assets/js/neon-calendar.js' %}"></script>
    <script src="{% static 'Hospital/assets/js/neon-chat.js' %}"></script>
    <script src="{% static 'Hospital/assets/js/neon-custom.js' %}"></script>
    <script src="{% static 'Hospital/assets/js/neon-demo.js' %}"></script>
    <script src="{% static 'Hospital/assets/js/neon-notes.js' %}"></script>
    <script src="{% static 'Hospital/assets/js/jquery.form.js' %}"></script>

    <script src="{% static 'Hospital/assets/js/ajax-form-submission.js' %}"></script>

    <script src="{% static 'Hospital/assets/js/theme.js' %}"></script>


    <script src="{% static 'Hospital/assets/js/jquery.magnific-popup.js' %}"></script>

    <script>
        $(".html5editor").wysihtml5();
    </script>
    <script>
    {% for message in messages %} 
    {% ifequal request.session.foo 1 %} 
        toastr.error('Submitted Data Invalid, Please re-insert carefully'); 
    {% endifequal %}
    {% ifequal request.session.foo 2 %} 
        toastr.success('New Patient Saved Successfuly');
    {% endifequal %}
    {% ifequal request.session.foo 3 %} 
        toastr.error('Patient Deleted Successfuly');
    {% endifequal %}
    {% ifequal request.session.foo 4 %} 
        toastr.info('Patient Modified Successfuly');
    {% endifequal %}
    {% endfor %}
    </script>

</body>

</html>